{% extends "layout/base.html" %}


{% block title %}Все заявки{% endblock %}

{% block content %}
    <h2>Страница для работы с новыми заявками сайта.</h2>
    <p>Здравствуйте, {{ request.user.full_name }}!</p>
    <br>
    {% if applications_list %}
        <h2>Все заявки со статусом "Новая":</h2>
        {% for application in applications_list %}
            <p>Временная метка: {{ application.created }}</p>
            <p>Название заявки: {{ application.title }}</p>
            <p>Описание заявки: {{ application.description }}</p>
            <p>Категория заявки: {{ application.category }}</p>
            <p>Статус заявки: {{ application.get_status_display }}</p>
            <p>Фотография: <img src="{{ application.image.url }}" alt="Фото или план помещения" class="w-15"></p>
            <a href="{% url 'application_change_status_inwork' pk=application.id %}" class="btn btn-primary">
                Изменить статус на "Принято в работу"
            </a>
            <a href="{% url 'application_change_status_done' pk=application.id %}" class="btn btn-primary">
                Изменить статус на "Выполнено"
            </a>
            <br>
            <br>
        {% endfor %}
    {% else %}
        <p>В данный момент на сайте нет новых заявок.</p>
    {% endif %}
{% endblock %}