{% extends "layout/base.html" %}


{% block title %}Профиль{% endblock %}

{% block content %}
    <h2>Профиль пользователя {{ request.user.username }}</h2>
    <p>Здравствуйте, {{ request.user.full_name }}!</p>
    {% if application_list %}
    <h2>Ваши заявки:</h2>
        {% for application in application_list %}
            <p>Название: {{ application.title }}</p>
            <p>Описание: {{ application.description }}</p>
            <p>Категория: {{ application.category }}</p>
            <p>Фото помещения или план: <img class="mr-3" src="{{ application.image.url }}"></p>
        {% endfor %}
    {% endif %}
{% endblock %}